<!DOCTYPE html>
<html lang="en">
<title>PCAP-ANALYSER</title>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Plato Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn85O5EOk3b_n0QaoJWjD5GubF5CZ4bzRTLg&usqp=CAU" rel="icon">
  <link href="{% static 'ethereumWeb3App/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'ethereumWeb3App/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'ethereumWeb3App/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'ethereumWeb3App/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'ethereumWeb3App/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'ethereumWeb3App/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'ethereumWeb3app/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'ethereumWeb3App/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Plato - v4.7.0
  * Template URL: https://bootstrapmade.com/plato-responsive-bootstrap-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <div class="wrap">
     <!-- ======= Header ======= -->
     <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
          <h1 class="text-light"><a href="#"><span>secure-drop</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto " href="{% url 'index' %}">Home</a></li>

            <li><a class="nav-link scrollto " href="#">Signup</a></li>
            <li><a class="nav-link scrollto" href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Blog</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>


          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

    {% block code %}

    {% endblock %}
    <!-- ======= Hero Section ======= -->
    <section>
        <img src="#" style="height:auto ;width:100%;">

    </section><!-- End Hero -->
    </div>

</body>

</html>
