{% extends 'PcapAnalyserApp/base.html' %}
{% load static %}
{% block content %}

  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="formFile" class="form-label">Description</label>
      {{ form.description }}
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Upload Pcap File</label>
      {{ form.document }}
    </div>
    <button type="submit" class="btn btn-info">Upload</button>
  </form>

  <br>
  <br>

  <div align="center">
  <a  align="center" href="{% url 'packet-details' %}">
    <button align="center" type="button" class="btn btn-info">
      Analyze
    </button>

  </a>
  <br>
  <br>
</div>
<div align="center">
  <a  align="center" href="{% url 'analyse_from_source' %}"> 
    <button align="center" type="button" class="btn btn-info">
      Analyze from Sources
    </button>

  </a>
  <br>
  <br>
</div>
{% endblock %}