{% extends 'PcapAnalyserApp/base.html' %}
{% load static %}
{% block content %}

  
  <form align="center" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button align="center" class="btn btn-success" type="submit" >Upload</button>
  </form>

  <br>
  <br>

  <div align="center">
  <a  align="center" href="{% url 'packet-details' %}">
    <button align="center" type="button" class="btn btn-info">
      Analyze
    </button>

  </a>
  <br>
  <br>
</div>
<div align="center">
  <a  align="center" href="{% url 'analyse_from_source' %}">
    <button align="center" type="button" class="btn btn-info">
      Analyze from Sources
    </button>

  </a>
  <br>
  <br>
</div>
{% endblock %}