{% extends 'PcapAnalyserApp/base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
  <h1>Packet Summary</h1>
  <h3>Analysis:</h3>
  <div>{{content|safe}}</div>
  <a href="{% url 'packetno-size' %}">
    <button type="button" class="btn btn-info">
      Packet Size vs Packet No.
    </button>
  </a>
  <a href="{% url 'packetno-time' %}">
    <button type="button" class="btn btn-info">  
      Packet Time vs Packet No.
    </button>
  </a>
  <a href="{% url 'ps' %}">
    <button type="button" class="btn btn-info">  
      Packet structure
    </button>
  </a>
  <a href="{% url 'analyse-from-source' %}">
    <button type="button" class="btn btn-info">  
      Analyze from Sources
    </button>
  </a>
</div>
{% endblock %}